[Desktop Entry]
Type=Application
Categories=Qt;Utility;TextTools;Development;
Name=klogg
GenericName=Log file viewer
Comment=A smart interactive log explorer.
Icon=klogg

Exec=klogg %F
Terminal=false

MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=klogg --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=klogg --multi %F
Name=Open In A New klogg Window
